:root{
    --grid-border-width: 3px;
    --grid-border-color: rgba(127, 192, 253, 0.308);
}

.mainWrapper{
    width: 100%;
    height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scheduleControl{
    background-color: #bcdcf7;
    height: 1000px;
    width: 100%;
    margin-left: 40px;
    padding:30px;
    display: grid;
    grid-template: [row1] 40px [allotherrows] repeat(52,1fr)/ [col1] 60px [allothercols] repeat(7, 1fr);
    border-radius: 15px;
}

.gridElement{
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--grid-border-width) solid var(--grid-border-color);
}




.interSection{
    grid-column: 1;
    grid-row: 1;
}
.hourGrid{
    grid-column: 1;
    grid-row: span 4;
    border-top: none;
    align-items: baseline;
}

.dayGrid{
    grid-row: 1;
    border-left: none;
}

.scheduleBlock{
    border: none;
    border-right: var(--grid-border-width) solid var(--grid-border-color);
    position: relative;
    background-color: var(--main-color);
    border-radius: 15px;
    z-index: 1;
}

.visitBlock{
    border: none;
    box-sizing: border-box;
    background-color: rgb(127, 192, 253);
    position: absolute;
    border-radius: 10px;
    border: 2px solid rgb(11, 126, 233);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unscheduled{
    border: none;
    border-right: var(--grid-border-width) solid var(--grid-border-color);
    position: relative;
}

.rowBorder{
    width: 100%;
    height: var(--grid-border-width);
    position: absolute;
    top: calc(100% - var(--grid-border-width));
    left: 0;
    background-color: var(--grid-border-color);
}

.selectedSlot{
    box-sizing: border-box;
    background-color: rgba(73, 154, 230, 0.219);
    border: 2px solid rgb(11, 126, 233);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

.animalAbout{
    width: fit-content;
    height: fit-content;
    margin-right: 50px;
}

.animalPic{
    border-radius: 25px;
    border: lightskyblue 10px solid;
    width: 25vw;
    height: 40vh;
    object-fit: cover;
}

.scheduleGridContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60vw;
    margin-left: 50px;
}

.instructionText{
    font-size: x-large;
    margin-bottom: 5px;
}

.description{
    background-color: lightskyblue;
    text-align: center;
    height: 150px;
    border-radius: 25px;
}

.hourAndDate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
