.heroPicWrapper{
    position: relative;
    width: 100%;
    height: 70vh;
    margin: 0;
}

.heroPic{
    opacity: 0;
    position : absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.frame1{
    background: url("../assets/hero1cropped.jpg");
    background-size:  100% 100%;
    animation: fade1 30s infinite linear;
}

 .frame2{
    background: url("../assets/hero2cropped.jpg");
    background-size: 100% 100%;
    animation: fade2 30s infinite linear;
}

 .frame3{
    background: url("../assets/hero3cropped.jpg");
    background-size: 100% 100%;
    animation: fade3 30s   infinite linear;
}

@keyframes fade1{
    0%{
        opacity: 1;
    }
    23%{
        opacity: 1;
        filter: blur(0);
    }
    33%{
        opacity: 0;
        filter: blur(5px);
    }
    90%{
        opacity: 0;
        filter: blur(5px);
    }
    100%{
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes fade2{
    0%{
        opacity: 0;
    }
    23%{
        opacity: 0;
        filter: blur(5px);
    }
    33%{
        opacity: 1;
        filter: blur(0);
    }
    56%{
        opacity: 1;
        filter: blur(0);
    }
    66%{
        opacity: 0;
        filter: blur(5px);
    }
}

@keyframes fade3{
    0%{
        opacity: 0;
    }
    56%{
        opacity: 0;
        filter: blur(5px);
    }
    66%{
        opacity: 1;
        filter: blur(0);
    }
    90%{
        opacity: 1;
        filter: blur(0);
    }
    100%{
        opacity: 0;
        filter: blur(5px);
    }
}

.heroWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
}

.backgroundCircle{
    width: 800px;
    height: 35vh;
    background-color: #0278bd48;
    border-radius: 100% 0 0 0 ;
    filter: blur(5px);
    margin-left: -800px;
    z-index: 1;
}

.heroTextWrapper{
    margin-left: calc(-350px - 250px);
    margin-bottom: calc(25vh - 150px);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 180px;
    color: white;
}

.mainText{
    font-size: 3rem;
    margin-bottom: 3px;
}

.secText{
    margin-top: 0px;
}
