.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 120px;
    height: 100px;
    margin: 10px;
}

.name{
    color:#0277BD;
    font-size: 32px;
    text-align: center;
}

.navButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 120px;
}

.buttonWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

.logoWrapper{
    display: flex;
    flex-direction: row;
}
