.animalPhotoGallery{
    width: 40%;
    height: 500px;
}
/* TODO: Change to use variables so that the picture is in line with grid rows*/
.animalHeroPic{
    width: 470px;
    height: 470px;
    border-radius: 25px;
    object-fit: cover;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80vh;
    margin: 40px;
}

.heroAndScheduleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scheduleLink{
    background-color: skyblue;
    height: 40px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin-top: 15px
}

.name{
    font-size: 40px;
    position: relative;
    width: fit-content;
    z-index: 1;
}

.name::after{
    content: "";
    position: absolute;
    width: 110%;
    height: 4px;
    background-color: skyblue;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.info{
    height: 100%;
}


.otherPics{
    display: grid;
    height: fit-content;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 1fr ;
    gap: 10px;
    margin-left: 10px;
}

/* TODO: Change so the rows fit in the picture height */
.animalRegularPic{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.focusedPhotoBackground{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.6);
    height: 110vh;
    width: 110vw;
    overflow: hidden;
}

.focusedPhoto{
    width: 600px;
    height: 500px;
    border-radius: 15px;
    object-fit: cover;
}

.focusedPhotoContainer{
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    width: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.selectButtons{
    align-self: center;
}
