.aboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    color: var(--main-color);
}
.divider{
    width: 150px;
    border-bottom: 1px solid var(--main-color);
}

.contentWrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.image{
    margin-left: 200px;
    height: 400px;
}

p{
    max-width: 600px;
    line-height: 1.6;
    font-size: 32px;
    margin-right: 200px;
    color: black;
}

h2{
    color: black;
    font-size: 32px;
}
