.animalDisplayWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--main-color);
}

.slot{
    width: 60%;
    height: 400px;
    display: flex;
    margin: 20px;
    border-radius: 10px;
}

.left{
    flex-direction: row;
}

.right{
    flex-direction: row-reverse;
}

.slotPic{
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.slotPicRight{
    margin-right: 40px;
}

.slotPicLeft{
    margin-left: 40px;
}

.slotText{
    color: white;
}

.description{
    border-radius: 20px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    width: 50%;
}

.nameLeft{
    color: white;
    align-self: center;
}

.nameRight{
    align-self: center;
    color: white;
}

.slotText{
    margin: 30px;
    font-size: 24px;
    text-align:center
}

.buttonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divider{

    width: 150px;
    border-bottom: 1px solid var(--main-color);
}

.welcomeTxt{
    margin-top: 10px;
    font-size: 32px;
    color: var(--main-color);
    text-align: center;
}
